<h1><%= @category.name %></h1>
<br>
<% @category.post_categories.each do |post| %>
<% @post_category = @category.posts.find(post.category_id) %>
<%= link_to @post_category.title, post_path(@post_category) %>
<% end %>